/* fonts */
@font-face {
  font-family:'FontAwesomeWeb';
  src:url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src:url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), 
      url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), 
      url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), 
      url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), 
      url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:'Twemoji';
  src:url('../fonts/Twemoji.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:'Noto Sans';
  src:url('../fonts/NotoSans.ttf') format('truetype');
  font-style:normal;
  font-weight:100 900;
  font-stretch:100%;
}

/* animations */
@keyframes fade-in {
  from {
    opacity:0;
  }
  
  to {
    opacity:1;
  }
}

@keyframes fade-out {
  from {
    opacity:1;
  }
  
  to {
    opacity:0;
  }
}

@keyframes jump {
  0% {
    top:0px;
  }
  
  25% {
    top:15px;
  }
  
  50% {
    top:0px;
  }
  
  75% {
    top:-15px;
  }
  
  100% {
    top:0px;
  }
}

@keyframes shake {
  0% {
    left:0px;
  }
  
  25% {
    left:15px;
  }
  
  50% {
    left:0px;
  }
  
  75% {
    left:-15px;
  }
  
  100% {
    left:0px;
  }
}

@keyframes lean-in {
  0% {
    -webkit-transform:scale(1);
            transform:scale(1);
  }
  
  100% {
    -webkit-transform:scale(1.1);
            transform:scale(1.1);
  }
}

@keyframes arona-leave {
  0% {
    bottom:35%;
  }
  
  100% {
    bottom:-1500px;
  }
}

@keyframes show-shoes {
  0% {
    -webkit-transform:rotate(0deg);
            transform:rotate(0deg);
  }
  
  100% {
    -webkit-transform:rotate(180deg);
            transform:rotate(180deg);
  }
}

@keyframes outline {
  0% {
    outline-color:rgba(245, 233, 75, 1);
  }
  
  50% {
    outline-color:rgba(245, 233, 75, 0.3);
  }
  
  100% {
    outline-color:rgba(245, 233, 75, 1);
  }
}

@keyframes swing {
  0% {
    -webkit-transform:scale(0.5) rotate(-5deg);
            transform:scale(0.5) rotate(-5deg);
    margin-left:10px;
    margin-top:5px;
  }
  50% {
    -webkit-transform:scale(0.51) rotate(5deg);
            transform:scale(0.51) rotate(5deg);
    margin-left:0px;
    margin-top:0px;
  }
  100% {
    -webkit-transform:scale(0.5) rotate(-5deg);
            transform:scale(0.5) rotate(-5deg);
    margin-left:10px;
    margin-top:5px;
  }
}

.fade-in {
  animation:fade-in 1000ms;
  opacity:1;
}

.fade-out {
  animation:fade-out 1000ms;
  opacity:0;
}

/* general styles */
body {
  color:#333;
  background:url(../images/bg.png) 0% 80% no-repeat fixed #FFF;
  background-size:cover;
  font-size:17px;
  font-family:"Noto Sans", "Segoe UI", Helvetica, Arial, sans-serif, Twemoji, "Apple Color Emoji", "Segoe UI Emoji";
  padding:0;
  margin:0;
  display:flex;
  position:relative;
  min-height:100vh;
  flex-direction:column;
}

.fa {
  display:inline-block;
  font:normal normal normal 14px/1 FontAwesomeWeb, FontAwesome;
  font-size:inherit;
  text-rendering:auto;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

a {
  color:#18F;
  text-decoration:none;
  cursor:pointer;
  outline:none;
}

a:hover { color:#06D; }
a:focus {
  color:#BA0;
  text-decoration:underline;
}

#bg_layer, #bg_layer2 {
  background:0% 80% no-repeat fixed transparent;
  background-size:cover;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  opacity:0;
  z-index:-1;
}
#bg_layer2 { opacity:0; }

body.red #bg_layer {
  background-image:url(../images/bg_red.png);
  background-color:#600;
  opacity:1;
}

body.sleep #bg_layer {
  background-image:url(../images/bg_sleep.png);
  opacity:1;
}

body.sleep #bg_layer2 {
  background-image:url(../images/bg_sleeptalk.png);
  opacity:0;
}
body.sleep .sleeptalk #bg_layer2 { opacity:1; }

body.sleep #arona_body {
  opacity:0;
  pointer-events:none;
}

body.sleep #dialogue_container {
  position:fixed;
  z-index:-1;
  left:5%;
  right:65%;
  bottom:30%;
  min-width:350px;
}

header {
  text-align:center;
  min-height:150px;
  padding:5px;
  position:relative;
  z-index:1;
  overflow:hidden;
  pointer-events:none;
}

/* fork me link */
a#fork-me {
  color:#FFF;
  background:#333;
  font-size:18px;
  font-weight:bold;
  text-align:center;
  text-transform:uppercase;
  text-decoration:none;
  line-height:30px;
  height:30px;
  width:200px;
  -webkit-transform:rotate(45deg);
          transform:rotate(45deg);
  position:absolute;
  right:-55px;
  top:30px;
  transition-property:color, background;
  transition-duration:300ms;
  user-select:none;
  pointer-events:all;
}

a#fork-me:hover, a#fork-me:focus {
  color:#333;
  background:#FFF;
}

h1 { margin:0; }

#logo { pointer-events:all; }
#logo:hover, #logo:focus { opacity:0.7; }
#logo img {
  height:150px;
  user-select:none;
}

#content {
  flex:1 0 auto;
  padding:15px 0;
}

.content-block {
  max-width:1000px;
  margin:0 auto;
}

.center { text-align:center; }

.clear:after, .line:after {
  content:"";
  display:table;
  clear:both;
}

.spoiler {
  color:#333;
  background:#333;
  display:inline-block;
  padding:2px;
}

.spoiler:hover {
  color:#FFF;
}

/* navigation */
nav {
  text-align:right;
  width:1px;
  position:fixed;
  top:30px;
  z-index:1;
}

nav a {
  color:#2D4663;
  font-size:22px;
  font-weight:bold;
  width:288px;
  background:#EFF5F6;
  border:2px solid #FEFEFD;
  border-left:none;
  border-radius:0px 6px 6px 0px;
  display:block;
  padding:5px;
  margin-bottom:15px;
  box-shadow:0px 0px 2px rgba(0, 0, 0, 0.7), 0px 3px 3px rgba(0, 0, 0, 0.3);
  position:relative;
  left:-258px;
  transition:left 400ms;
  overflow:hidden;
  white-space:nowrap;
  user-select:none;
  outline:none;
  opacity:0.9;
}

nav a i {
  font-size:24px !important;
  text-align:center;
  border-left:1px solid #ACB5C1;
  width:30px;
  padding-left:5px;
  margin-left:8px;
}

nav i img { vertical-align:top; }

nav a:hover, nav a:focus {
  color:#2D4663;
  background:#7DF;
  border-color:#9FF;
  left:0;
  text-decoration:none;
}
nav a:hover i, nav a:focus i { border-color:#5BD; }

nav a:active {
  color:#4B2116;
  background:#F5E94B;
  border-color:#FF6;
  left:0;
}
nav a:active i { border-color:#DC2; }

#cc-chart { position:relative; }
#cc-chart span {
  font-size:8px;
  font-family:twemoji;
}

#cunny {
  position:absolute;
  top:9px;
  left:11px;
}

#correction {
  position:absolute;
  top:9px;
  right:6px;
}


/* encoder layout */
#encoder {
  width:550px;
  margin:15px 0;
  float:right;
}

#encoder textarea {
  height:120px;
}

#encoder .menu-inner { position:relative; }

#error {
  background:#FEE;
  border:2px solid #F99;
  border-radius:10px;
  padding:5px;
  margin-bottom:10px;
  overflow:hidden;
  position:relative;
}

#error h3 {
  color:#FFF;
  background:#F99;
  border-color:#F99;
  margin:-5px -5px 5px -5px;
  padding:0 5px;
}

#error a.close-button {
  color:#900;
  font-size:20px;
  position:absolute;
  top:0px;
  right:5px;
}

#error a.close-button:hover {
  color:#C00;
}

#error a.close-button:active, #error a.close-button:focus {
  color:#F00;
}

#error .overflow-box {
  color:#F00;
  background:#FDD;
  border:1px solid #FCC;
  border-radius:10px;
  padding:3px;
  margin-top:3px;
  max-height:100px;
  overflow-y:auto;
}

#help {
  font-size:25px;
  position:absolute;
  top:-3px;
  right:6px;
}

#cunny_translate {
  margin-top:10px;
  margin-bottom:5px;
}

#bgm {
  position:absolute;
  bottom:1px;
  right:5px;
  z-index:1;
}

#bgm_icon {
  height:25px;
  cursor:pointer;
  outline:none;
  user-select:none;
}

#bgm_icon:hover, #bgm_icon:focus {
  opacity:0.7;
}

#version {
  color:#999;
  font-size:16px;
  position:absolute;
  left:5px;
  bottom:2px;
  user-select:none;
}

textarea, input[type="text"], input[type="number"] {
  font-size:18px;
  font-family:"Noto Sans", "Segoe UI", Helvetica, Arial, sans-serif, Twemoji, "Apple Color Emoji", "Segoe UI Emoji";
  color:#333;
  background:#FFF;
  border:2px solid #CCC;
  border-radius:10px;
  width:97%;
  padding:5px;
  outline:none;
  resize:none;
}
input[type="text"], input[type="number"] {
  width:auto;
  border-width:1px;
}

textarea:hover, input[type="text"]:hover, input[type="number"]:hover { border-color:#AAA; }
textarea:focus, input[type="text"]:focus, input[type="number"]:focus { border-color:#18F; }

#buttons {
  margin-bottom:10px;
}

#password_field {
  text-align:center;
  margin:5px 0;
}

#password_help {
  font-size:24px;
  visibility:hidden;
}
input:checked ~ #password_help { visibility:visible; }

a.button {
  text-decoration:none;
  display:inline-block;
}

button, .button {
  font-size:19px;
  font-family:"Noto Sans", Cuprum, Arial;
  font-weight:bold;
  color:#2D4663;
  padding:10px 20px;
  margin:5px;
  background:#7DF;
  border:none;
  border-radius:12px;
  box-shadow:0px 0px 2px rgba(0, 0, 0, 0.7), 0px 3px 3px rgba(0, 0, 0, 0.3);
  cursor:pointer;
  -webkit-transform:skew(-10deg);
          transform:skew(-10deg);
  user-select:none;
  outline:none;
}

button i.fa, .button i.fa { font-size:20px; }

button i, .button i {
  font-style:normal;
  display:inline-block;
  -webkit-transform:skew(10deg);
          transform:skew(10deg);
}

.button:hover, .button:focus { color:#2D4663; }
button:hover, .button:hover, button:focus, .button:focus { background:#8EF; }
button:active, .button:active {
  color:#4B2116;
  background:#F5E94B;
}

#arona {
  width:400px;
  height:400px;
  margin-bottom:200px !important;
  float:left;
  position:relative;
  user-select:none;
}

#arona_inner {
  width:400px;
  height:400px;
  position:fixed;
  bottom:35%;
}

#arona.arona-leave #arona_inner {
  bottom:-2000px;
  animation:arona-leave 1500ms ease-in;
}

#arona.show-shoes #arona_inner {
  -webkit-transform:rotate(180deg);
          transform:rotate(180deg);
  bottom:-400px;
  top:auto;
  animation:show-shoes 1000ms;
}

#arona.show-shoes #dialogue_container {
  -webkit-transform:rotate(-180deg);
          transform:rotate(-180deg);
  bottom:-80%;
  top:auto;
}

#arona_body { position:relative; }
#arona_body.jump { animation:jump 500ms ease-in-out; }
#arona_body.shake { animation:shake 200ms linear; }
#arona_body.lean-in {
  animation:lean-in 600ms ease-in-out;
  -webkit-transform:scale(1.1);
          transform:scale(1.1);
}

#arona #holo {
  width:400px;
  position:absolute;
  pointer-events:none;
}

.arona_action {
  position:absolute;
  opacity:0;
  cursor:pointer;
}
.tutorial .arona_action { display:none; }

#arona_halo, #arona.dragging #arona_halo {
  top:35px;
  left:212px;
  height:25px;
  width:80px;
  -webkit-transform:rotate(28deg);
          transform:rotate(28deg);
  border-radius:100%;
}

#arona_head {
  top:73px;
  left:155px;
  height:80px;
  width:120px;
  border-radius:100%;
  -webkit-transform:rotate(10deg);
          transform:rotate(10deg);
}

#arona_face {
  top:135px;
  left:160px;
  height:90px;
  width:90px;
  border-radius:100%;
}

#arona_chest {
  top:250px;
  left:151px;
  height:80px;
  width:100px;
  border-radius:100%;
}

#arona_skirt {
  top:407px;
  left:101px;
  height:90px;
  width:200px;
  border-radius:40px 20px 110px 100px;
}

#arona_leg1, #arona_leg2, #arona_leg3, #arona_leg4 {
  top:500px;
  left:150px;
  height:100px;
  width:47px;
  border-radius:0px 0px 0px 70%;
}

#arona_leg2 {
  left:207px;
  border-radius:0px 0px 70% 0px;
}

#arona_leg3, #arona_leg4 {
  top:590px;
  height:160px;
  width:47px;
  border-radius:70%;
}
#arona_leg4 { left:207px; }

#arona_shoes {
  top:750px;
  left:152px;
  height:80px;
  width:107px;
  border-radius:25px 25px 12px 15px;
}

#dialogue_container {
  position:absolute;
  left:0;
  right:0;
  margin-top:270px;
  text-align:center;
}
#dialogue_container.fade-out { pointer-events:none; }

#dialogue, .dialogue {
  color:#29415A;
  font-size:21px;
  font-family:"Noto Sans", "Segoe UI", Helvetica, Arial, sans-serif, Twemoji, "Apple Color Emoji", "Segoe UI Emoji";
  text-align:center;
  background:#EEE;
  background:rgba(245, 245, 245, 0.9);
  box-shadow:0px 1px 3px rgba(0, 0, 0, 0.7);
  border:2px solid #FEFEFD;
  border:2px solid rgba(250, 250, 250, 0.7);
  border-radius:30px;
  display:inline-block;
  position:relative;
  padding:10px;
}

#dialogue #video {
  margin-top:5px;
  height:200px;
  width:356px;
}

/* dialogue arrow */
#dialogue:after, .dialogue:after {
  content:"";
  border-bottom:20px solid #edf6f6;
  border-right:10px solid transparent;
  border-left:10px solid transparent;
  position:absolute;
  top:-20px;
  left:50%;
  margin-left:-10px;
}

#dialogue:before, .dialogue:before {
  content:"";
  border-bottom:20px solid #333;
  border-bottom:20px solid rgba(50, 50, 50, 0.5);
  border-right:10px solid transparent;
  border-left:10px solid transparent;
  position:absolute;
  top:-22px;
  left:50%;
  margin-left:-10px;
}

#dialogue.hidden, .dialogue.hidden {
  opacity:0;
}

/* styles for when dragging arona */
#arona.dragging {
  height:400px;
  width:400px;
  margin-bottom:200px !important;
  margin-left:0;
  position:fixed;
  -webkit-transform:scale(0.5);
          transform:scale(0.5);
  animation:swing 3s infinite ease-in-out;
  z-index:2;
}

#arona.dragging #arona_inner {
  width:400px;
  height:400px;
  position:static;
  bottom:auto;
}

#arona.dragging #holo {
  width:400px;
}

#arona.dragging #dialogue {
  -webkit-transform:scale(1.5);
          transform:scale(1.5);
}

/* menus */
.menu {
  margin:15px;
  padding:15px;
  border-radius:10px;
  background:#333;
  background:rgba(50, 50, 50, 0.3)
}

.menu-inner {
  min-height:300px;
  padding:5px;
  border-radius:10px;
  border:2px solid #FEFEFD;
  box-shadow:0px 5px 0px rgba(50, 50, 50, 0.7);
  background:#EFF5F6;
}

h2, h3 {
  color:#2C4662;
  border-bottom:2px solid #ABB7C3;
  margin-top:0;
  margin-bottom:10px;
}

/* response list on the About Arona page */
#response-list {
  background:#FFF;
  border:1px solid #DDD;
  padding:5px 5px 5px 35px;
  max-height:200px;
  overflow-y:auto;
}

/* code */
code {
  font-family:"courier new", courier, monospace, Twemoji, "Apple Color Emoji", "Segoe UI Emoji";
  color:#05C;
}
code.block {
  background:#FFF;
  border:1px solid #DDD;
  display:block;
  padding:5px;
  margin:5px;
}

code.block.overflow-y {
  overflow-y:hidden;
  overflow-x:auto;
  white-space:nowrap;
}


/* table styles */
table {
  width:95%;
  margin:0px auto;
  border-collapse:collapse;
}

table th, table td {
  border:1px solid #DDD;
  padding:5px;
}

table th {
  background:#EEE;
}

table td {
  background:#FFF;
}

.columns-2 > div {
  width:50%;
  margin:0 0 25px 0;
  float:left;
}


/* tutorial styles */
#tutorial-overlay {
  background:#333;
  background:rgba(0, 0, 0, 0.7);
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:1;
}

.tutorial #arona {
  z-index:2;
}

.tutorial .focused {
  z-index:2;
  outline:5px solid #F5E94B;
  position:relative;
  animation:outline 1500ms linear infinite;
}

.tutorial .focused.no-outline { outline:none; }


/* CUSTOM INPUTS */
/* checkboxes */
.pseudo_checkbox {
  display:inline-block;
  text-align:center;
  background:#FFF;
  border:1px solid #CCC;
  height:20px;
  width:20px;
  vertical-align:middle;
  margin-right:3px;
  position:relative;
  overflow:hidden;
  cursor:pointer;
}

.pseudo_checkbox:hover, .pseudo_checkbox:focus {
  border-color:#18F;
  outline:none;
}

.pseudo_checkbox:after {
  content:"\f00c";
  color:#18F;
  font-family:FontAwesomeWeb, FontAwesome;
  font-size:0px;
  position:absolute;
  top:0;
  left:0;
  right:0;
  line-height:20px;
}

input:checked + .pseudo_checkbox:after { font-size:20px; }
.input_hidden {
  visibility:hidden;
  position:absolute;
}

/* disabled */
input[disabled] + .pseudo_checkbox {
  opacity:0.5;
  cursor:not-allowed;
}

/* label state and style */
.checkbox_label {
  font-weight:600;
  cursor:pointer;
  user-select:none;
  opacity:0.5
}

.checkbox_label:hover { opacity:0.8; }

input:checked ~ .checkbox_label {
  opacity:1;
}

/* checkbox input toggle */
.checkbox_input { visibility:hidden; }
input:checked ~ .checkbox_input { visibility:visible; }


/* footer */
footer {
  color:#FFF;
  background:#333;
  background:rgba(35, 35, 35, 0.9);
  text-align:center;
  padding:15px;
  position:relative;
}

footer a, #light-switch-label { color:#CCC; }
footer a:hover, #light-switch-label:hover { color:#FFF; }

footer ul {
  list-style-type:none;
  margin:0;
  padding:0;
}

footer li { float:left; }
footer li:before {
  content:"\f111";
  font-family:FontAwesomeWeb, FontAwesome;
  font-size:6px;
  margin:0 5px;
  vertical-align:middle;
}
footer li:first-child:before { display:none; }

.footer-left { float:left; }
.footer-right { float:right; }


/* scrollbar */
::-webkit-scrollbar {
  width:17px;
  height:17px;
}

::-webkit-scrollbar-track { background:#EEE; }
::-webkit-scrollbar-thumb {
  background-color:#18F;
  border:2px solid #EEE;
}


/* scrollbar buttons */
::-webkit-scrollbar-button:single-button {
  background:url(../images/general/webkit-arrows.gif) no-repeat 0 0 #18F;
  height:17px;
  width:17px;
}

::-webkit-scrollbar-button:single-button:vertical:increment { background-position:-17px 0 }
::-webkit-scrollbar-button:single-button:horizontal:decrement { background-position:-34px 0 }
::-webkit-scrollbar-button:single-button:horizontal:increment { background-position:-51px 0 }

/* hover / active scrollbar colors */
::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-button:hover { background-color:#07E; }
::-webkit-scrollbar-thumb:active, ::-webkit-scrollbar-button:active { background-color:#06D; }


/* RESPONSIVENESS */
@media (min-width:2201px) {
  /* Arona size increase on screens 2200px+ */
  #arona {
    height:600px;
    width:600px;
    margin-left:-200px;
    margin-bottom:300px !important;
  }
  
  #arona_inner {
    width:600px;
    height:600px;
  }
  
  #arona.show-shoes #arona_inner {
    bottom:-600px;
  }
  
  #arona #holo {
    width:600px;
    position:absolute;
  }
  
  #arona_halo {
    top:56px;
    left:318px;
    height:32px;
    width:120px;
  }

  #arona_head {
    top:106px;
    left:233px;
    height:130px;
    width:180px;
    border-radius:100%;
    -webkit-transform:rotate(10deg);
            transform:rotate(10deg);
  }

  #arona_face {
    top:198px;
    left:237px;
    height:140px;
    width:140px;
    border-radius:100%;
  }

  #arona_chest {
    top:380px;
    left:230px;
    height:120px;
    width:145px;
    border-radius:100%;
  }

  #arona_skirt {
    top:600px;
    left:146px;
    height:150px;
    width:310px;
    border-radius:100px 60px 200px 200px;
  }

  #arona_leg1, #arona_leg2, #arona_leg3, #arona_leg4 {
    top:750px;
    left:222px;
    height:160px;
    width:70px;
    border-radius:0px 0px 0px 70%;
  }

  #arona_leg2 {
    left:311px;
    border-radius:0px 0px 70% 0px;
  }

  #arona_leg3, #arona_leg4 {
    top:890px;
    left:232px;
    height:235px;
    width:55px;
    border-radius:70%;
  }
  #arona_leg4 { left:319px; }

  #arona_shoes {
    top:1124px;
    left:228px;
    height:120px;
    width:162px;
    border-radius:25px 25px 12px 15px;
  }
  
  #dialogue_container { margin-top:395px; }
  #dialogue, .dialogue { font-size:24px; }
}

/* CUNNY MODAL */
#cunny-modal-overlay {
  background:#000 no-repeat center;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  opacity:0.5;
  z-index:9999;
}

#cunny-modal-body {
  background:#EFEFEF;
  box-shadow:0px 7px 3px rgba(50, 50, 50, 0.7);
  border-radius:10px;
  position:fixed;
  top:10%;
  left:20%;
  right:20%;
  bottom:30%;
  z-index:99999;
  overflow:hidden;
}

h2#cunny-modal-header {
  color:#2D4663;
  background:#EEF2F5;
  border-bottom:2px solid #DCDDDF;
  margin:0;
  padding:0px 6px;
  height:50px;
  line-height:50px;
  overflow:hidden;
  text-align:center;
  text-overflow:ellipsis;
  white-space: nowrap;
}

#cunny-modal-header-text {
  border-bottom:5px solid #F7EA7A;
  display:inline-block;
  height:45px;
  padding:0 6px;
}

#cunny-modal-content {
  font-size:17px;
  padding:6px;
  position:absolute;
  top:50px;
  left:0;
  right:0;
  bottom:60px;
  overflow-y:auto;
}

#cunny-modal-buttons {
  background:#EEF2F5;
  border-top:2px solid #DCDDDF;
  height:60px;
  position:absolute;
  bottom:0;
  left:0;
  right:0;
}

.settings-label {
  font-weight:bold;
  width:30% !important;
  margin-bottom:0 !important;
  text-align:right;
}

.settings-label label {
  padding-right:5px;
  display:inline-block;
}

.settings-value {
  width:70% !important;
  margin-bottom:0 !important;
}

/* ADS */
.ad-container {
  text-align:center;
  margin:30px 0;
}


/* Arona size increase on screens 1750-2200px+ */
@media (min-width:1750px) and (max-width:2200px) {
  #arona {
    height:500px;
    width:500px;
    margin-left:-100px;
    margin-bottom:250px !important;
  }
  
  #arona_inner {
    width:500px;
    height:500px;
  }
  
  #arona.show-shoes #arona_inner {
    bottom:-500px;
  }
  
  #arona #holo {
    width:500px;
    position:absolute;
  }
  
  #arona_halo {
    top:45px;
    left:265px;
    height:30px;
    width:100px;
  }

  #arona_head {
    top:89px;
    left:194px;
    height:110px;
    width:150px;
    border-radius:100%;
    -webkit-transform:rotate(10deg);
            transform:rotate(10deg);
  }

  #arona_face {
    top:161px;
    left:197px;
    height:120px;
    width:120px;
    border-radius:100%;
  }

  #arona_chest {
    top:310px;
    left:191px;
    height:100px;
    width:120px;
    border-radius:100%;
  }

  #arona_skirt {
    top:504px;
    left:125px;
    height:120px;
    width:255px;
    border-radius:40px 20px 110px 100px;
  }

  #arona_leg1, #arona_leg2, #arona_leg3, #arona_leg4 {
    top:625px;
    left:185px;
    height:130px;
    width:60px;
    border-radius:0px 0px 0px 70%;
  }

  #arona_leg2 {
    left:260px;
    border-radius:0px 0px 70% 0px;
  }

  #arona_leg3, #arona_leg4 {
    top:740px;
    left:191px;
    height:195px;
    width:50px;
    border-radius:70%;
  }
  #arona_leg4 { left:264px; }

  #arona_shoes {
    top:935px;
    left:190px;
    height:100px;
    width:135px;
    border-radius:25px 25px 12px 15px;
  }
  
  #dialogue_container { margin-top:330px; }
  #dialogue, .dialogue { font-size:22.5px; }
}

/* lowers arona down or pins her to the top if the minimum height is too low */
@media ((max-height:920px) and (min-width:2201px)) or ((max-height:770px) and (min-width:1750px) and (max-width:2200px)) or ((max-height:610px) and (max-width:1749px)) {
  #arona_inner { bottom:25%; }
}

@media ((max-height:800px) and (min-width:2201px)) or ((max-height:660px) and (min-width:1750px) and (max-width:2200px)) or ((max-height:530px) and (max-width:1749px)) {
  #arona_inner {
    bottom:auto;
    top:0;
  }
}

/* other responsive styles */
@media (max-width:1060px) {
  #content { padding:20px; }
  
  #encoder, #arona {
    float:none;
    margin:15px auto;
    max-width:90%;
  }
  
  #arona_inner { position:static; }
  #arona.show-shoes #arona_inner {
    position:relative;
    bottom:-600px;
  }
  
  
  #content { overflow:hidden; }
  
  /* footer links */
  footer li {
    float:none;
    display:inline-block;
  }
  
  footer li:before { margin-left:0; }
  
  .footer-left, .footer-right {
    float:none;
    text-align:center;
    margin-bottom:10px;
  }
  
  /* display columns below one another */
  .columns-2 > div, .dictionary-group {
    float:none;
    width:100%;
  }
}

@media (max-width:600px) {
  #logo img { height:100px; }
  
  #cunny_translate {
    margin-bottom:30px;
  }
}

@media (max-width:450px) {
  body, #bg_layer { background-position:5% 75% !important; }
  body.sleep #dialogue_container {
    left:5%;
    right:5%;
    min-width:auto;
  }
  
  #arona #holo {
    left:-30px;
  }
  
  .arona_action {
    margin-left:-50px;
  }
}

@media (max-width:350px) {
  body, #bg_layer { background-position:9% 75% !important; }
  
  #arona #holo {
    left:-85px;
  }
  
  .arona_action {
    margin-left:-90px;
  }
}
